.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px 75px;
}

.exercise-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 20px;
    padding: 10px;
}

.sidebar {
    box-shadow: 5px 10px 18px #888888;
    margin-left: 15px;
    max-height: 800px;
    margin-top: 10px;
}

@media only screen and (max-width: 390px) {
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .exercise-container {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 820px) {
    .main-container {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .exercise-container {
        grid-template-columns: repeat(2, 1fr);
    }
}